container_commands:
  01_makemigrations:
    command: "$PYTHONPATH/python manage.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "$PYTHONPATH/python manage.py migrate --noinput --run-syncdb"
    leader_only: true
  03_chown_sqlitedb:
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ruslearn.wsgi:application

