<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="card-style.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand h6" href="#">Welcome to <span class="text-secondary">Rus</span><span
                class="text-primary">Lea</span><span
                class="text-danger">rn</span>!</a>
        <div class="dropdown d-flex me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{user}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton1">

                <hr/>
                <li><a class="dropdown-item disabled" href="#">XP Points : {{user_profile.XP_points}}</a></li>
                <li><a class="dropdown-item disabled" href="#">Registered on {{user_profile.registrationDate}}</a></li>
                <hr/>
                <li><a class="dropdown-item" href="/logout">Log out
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-box-arrow-right m-1"
                         viewBox="0 0 16 16">
                        <path id="logout" fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="container">

    <div class="row">
        <div class="col">
            <h3 class="row">
                My Card Packs
            </h3>
        </div>
        <div class="col">
            <form action="" class="d-flex justify-content-end">
                <!-- <input type="text" name=text id="txt" required placeholder="Package name"> -->
                <button type="button" class="btn btn-list btn-primary text-end" data-bs-toggle="modal"
                        data-bs-target=#addPackModal>Add Card Pack
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col">
<!--            <div class="pack_container">-->
<!--                <ul>-->
<!--                    <li><span id="packName">Pack Name</span>-->
<!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                                data-bs-target="#editPackModal">-->
<!--                            Edit<br><i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
<!--                        </button>-->
<!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                                data-bs-target="#reviewPackModal">-->
<!--                            Review<br><i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
<!--                        </button>-->

<!--                        <span>x</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pack Name</h5>
                    <p class="card-text"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#editPackModal">
                            Edit<br><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#reviewPackModal">
                            Review<br><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>

</div>

<div class="modal fade" id="addPackModal" tabindex="-1" aria-labelledby="addPackModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPackModalTitle">Add Pack</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="newPackForm">
                    <div class="container" id="newPackContainer">
                        <div class="row" id="newPackContainerRow">
                            <div class="col" id="newPackContainerCol">
                                <input type="text" placeholder="Name of the new pack" id="newPackName"><br>
                                <input type="text" placeholder="Souce language of the new pack"
                                       id="newPackSourceLang"><br>
                                <input type="text" placeholder="Target language of the new pack"
                                       id="newPackTargetLang"><br>
                            </div>
                            <div class="col" id="newPackContainerCol">
                                <p>Automatically initiate your pack</p>
                                <input type="text" placeholder="Number of words" id="newPackTargetLang"><br>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-list btn-primary">
                        Create
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPackModal" tabindex="-1" aria-labelledby="editPackModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPackModalTitle">Pack Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewPackModal" tabindex="-1" aria-labelledby="reviewPackModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" id="reviewPackModalDialog">
        <!-- <div class="modal-content" id="reviewPackModalContent"> -->
        <label class="modal-content" id="reviewPackModalContent">
            <input type="checkbox" id="reviewPackModalCheckBox">
            <div class="flip-card">
                <div class="front">
                    <img src="images/apple.png" alt="" width="20%" height="20%"/>
                    <p>Click to flip</p>
                </div>
                <div class="back">
                    <h1>Яблоко</h1>
                    <hr/>
                    <p class="click">Click to flip</p>
                </div>
            </div>
        </label>
        <!-- </div> -->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>