<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'card-style.css' %}">
</head>

<body>
<nav class="navbar navbar-dark bg-dark mb-3 shadow">
    <div class="container-fluid">
        <a class="navbar-brand h6" href="/">Welcome to <span class="text-secondary">Rus</span><span
                class="text-primary">Lea</span><span
                class="text-danger">rn</span>!</a>
        <div class="dropdown d-flex me-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{user}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton1">

                <hr/>
                <li><a class="dropdown-item disabled" href="#">XP Points : {{user_profile.XP_points}}</a></li>
                <li><a class="dropdown-item disabled" href="#">Registered on {{user_profile.registrationDate}}</a></li>
                <hr/>
                <li><a class="dropdown-item" href="subscriptions">View subscription plans</a></li>
                <hr/>
                <li><a class="dropdown-item" href="/logout">Log out
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-box-arrow-right m-1"
                         viewBox="0 0 16 16">
                        <path id="logout" fill-rule="evenodd"
                              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd"
                              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a></li>
            </ul>
        </div>
    </div>

</nav>
<div class="container">

    <div class="row">
        <div class="col">
            <h3 class="row">
                My Card Packs
            </h3>
        </div>
        <div class="col">
            <form action="" class="d-flex justify-content-end">
                <!-- <input type="text" name=text id="txt" required placeholder="Package name"> -->
                <button type="button" class="btn btn-list btn-primary text-end shadow" data-bs-toggle="modal"
                        data-bs-target=#addPackModal>Add Card Pack
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col">
            {% if packs %}
            {% for p in packs %}
            <div class="card bg-light m-3 shadow">
                <div class="card-body row">
                <div class="col">
                    <h5 class="card-title">{{p.Name}}</h5>
                    <p class="text-muted">{% for x in language_list %}{% if x.0 == p.sourceLanguage %}{{x.1}}{% endif %}{% endfor %}  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
</svg>  {% for x in language_list %}{% if x.0 == p.targetLanguage %}{{x.1}}{% endif %}{% endfor %}</p>
                </div>
                    
                    <p class="card-text col d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal"
                                data-bs-target="#editPackModal{{p.PackID}}">
                            Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" 
                                class="btn btn-success m-2 {% for x in empty_packs %}{% if x == p.PackID %}disabled{% endif %}{% endfor %}" 
                                data-bs-toggle="modal"
                                data-bs-target="#reviewPackModal_{{p.PackID}}">
                            Review <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </p>
                </div>
            </div>
            <!-- Edit Pack Modal -->

            <div class="modal fade" id="editPackModal{{p.PackID}}" tabindex="-1" aria-labelledby="editPackModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-l">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editPackModalTitle">{{p.Name}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="editPackModalBody">
                            {% for x in flash_cards %}
                            {% if x.0 == p.PackID %}

                            <ul>
                                {% for i in x.1 %}
                                <li class="me-2">
                                    <span>{{i.sourceText}}</span> - <span>{{i.targetText}}</span>
                                    <button type="button" class="btn btn-secondary m-1" data-bs-toggle="modal"
                                            data-bs-target="#">
                                        Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button><span>
                                    <form method="post" action="delete_card" style="display: inline;" class="m-1">
                                        {% csrf_token %}
                                        <input name="card_id" value="{{i.FlashCardID}}" class="visually-hidden" type="text">
                                        <button type="submit" class="btn btn-danger">
                                            Delete <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </button>
                                    </form></span>


                                </li>
                                {% endfor %}

                            </ul>

                            {% endif %}
                            {% endfor %}
                            {% for x in empty_packs %}
                            {% if x == p.PackID %}
                            <p>This pack doesn't contain any cards yet.</p>
                            {% endif %}
                            {% endfor %}
                            <form action="">
                                <!-- <input type="text" name=text id="txt" required placeholder="Package name"> -->
                                <button type="button" class="btn btn-list btn-success" data-bs-toggle="modal"
                                        data-bs-target="#addCardModal{{p.PackID}}">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add flashcards
                                </button>
                            </form>

                        </div>

                        <div class="modal-footer">
                            <form action="/delete_pack" method="post">
                                {% csrf_token %}
                                <input class="visually-hidden" type="text" name="pack_id" value="{{p.PackID}}">
                                <button type="submit" class="btn btn-danger">Delete pack</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add card modal -->

            <div class="modal fade" id="addCardModal{{p.PackID}}" tabindex="-1" aria-labelledby="#addCardModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCardModalTitle">Add Cards to "{{p.Name}}"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/add_card" id="newCardForm" method="post">
                            {% csrf_token %}

                            <div class="modal-body">
                                <div class="container" id="newCardContainer">
                                    <div class="row" id="newCardContainerRow">
                                        <div class="col" id="newCardContainerCol">
                                            <input type="text" name="pack_id" value="{{p.PackID}}"
                                                   class="visually-hidden">
                                            <label for="newCardPic">Choose an optional picture for your card</label>
                                            <input type="file" name="newCardPic" id="newCardPic"
                                                   accept="image/png, image/jpeg" class="form-control m-1"><br>
                                            <input type="text" placeholder="Source word of the new card"
                                                   id="newCardSourceWord" name="source_text"
                                                   class="form-control m-1"><br>
                                            <input type="text" placeholder="Target word of the new card"
                                                   id="newCardTargetWord" name="target_text"
                                                   class="form-control m-1"><br>
                                        </div>

                                        <div class="col" id="newCardContainerCol2">
                                            <p>Batch-input new cards</p>
                                            <textarea placeholder="For example:&#10;яблоко - apple&#10;банан - banana"
                                                      id="newCardBatchInput" rows="50" cols="50" name="batch_input"
                                                      class="form-control m-1 disabled"></textarea><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Review Pack Modal -->

            <div class="modal fade" id="reviewPackModal_{{p.PackID}}" tabindex="-1" aria-labelledby="reviewPackModalTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-xl" id="reviewPackModalDialog">
                    <label class="modal-content" id="reviewPackModalContent">
                        <input type="checkbox" id="reviewPackModalCheckBox_{{p.PackID}}" class="reviewPackModalCheckBoxJQuery visually-hidden"
                            data-pack-id="{{p.PackID}}" data-card-id="{% for i in next_card %}{% if i.0 == p.PackID %}{{i.1.FlashCardID}}{% endif %}{% endfor %}">
                        <div class="flip-card">
                            <div class="front" id="card_front">
                                <img src="images/apple.png" alt="" width="20%" height="20%" id="reviewImage_{{p.PackID}}"/>
                                {% for i in next_card %}
                                {% if i.0 == p.PackID %}
                                    <p class="lead" id="reviewSource_{{p.PackID}}">{{i.1.sourceText}}</p>
                                {% endif %}
                                {% endfor %}
                                <p class='text-small text-muted'>Click to flip</p>
                            </div>
                            <div class="back" id="card_back">
                                {% for i in next_card %}
                                {% if i.0 == p.PackID %}
                                    <h2 class="m-4" id="reviewTarget_{{p.PackID}}">{{i.1.targetText}}</h2>
                                {% endif %}
                                {% endfor %}
                                <hr/>
                                <p class="click text-muted">Click to see another card</p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h6 class="lead">It seems that you don't have any card packs yet...</h6>
            {% endif %}
        </div>
    </div>
    <div class="row">
    </div>

</div>

<!-- Add Pack Modal -->

<div class="modal fade" id="addPackModal" tabindex="-1" aria-labelledby="#addPackModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPackModalTitle">Add Pack</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/add_pack" id="newPackForm" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container" id="newPackContainer">
                        <div class="row" id="newPackContainerRow">
                            <div class="col" id="newPackContainerCol">
                                <input type="text" placeholder="Name of the new pack" id="newPackName"
                                       class="form-control m-2" name="name">
                                <select class="form-select m-2" aria-label="Default select example" name="source" id="newPackSourceLang">
                                    <option selected>Souce language of the new pack</option>
                                    {% for i in language_list %}
                                    <option value="{{i.0}}">{{i.1}}</option>
                                    {% endfor %}
                                </select>
                                <select class="form-select m-2" aria-label="Default select example" name="target" id="newPackTargetLang">
                                    <option selected>Target language of the new pack</option>
                                    {% for i in language_list %}
                                    <option value="{{i.0}}">{{i.1}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                            <div class="col" id="newPackContainerColInit">
                                <p>Automatically initiate your pack*</p>
                                <input type="number" placeholder="Number of words" id="numberOfWords"
                                       class="form-control m-2" name="number_of_words" value="0"><br>
                                <p class="text-muted">*: We will initiate your pack with the number of cards you input
                                    above. The cards
                                    will have random translation pairs from the languages you pick.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>

$(function(){

    // Setup for the csrf_token
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    
    $('.reviewPackModalCheckBoxJQuery').on('click', (event)=>{
        var pack_id = $(event.target).attr('data-pack-id');
        var card_id = $(event.target).attr('data-card-id');

        


        if($('#reviewPackModalCheckBox_'+pack_id).is(":checked")){
            console.log("POST card got viewed")

            console.log(pack_id);
            console.log(card_id);

            $.ajax({type: 'POST',
            url: 'view_card',
            data: {'pack_id': pack_id,
                     'card_id': card_id },
            ContentType: 'application/json',
            success: (response)=>{console.log("success.")},
            error: (response)=>{console.log("error.")}
        })
        
        
        }
        else
        {
            console.log('Loaded new card.')
            $.ajax({type: 'POST',
            url: 'next_card',
            data: {'pack_id': pack_id,
                     'card_id': card_id },
            ContentType: 'application/json',
            success: (response)=>{
                console.log("success.");
                $.ajax({type: 'GET',
                    url: `https://pixabay.com/api/?key=23791192-362bac30fb149b2afac39fe6f&q=`+response['source_text'].split(' ').join('+')+`&image_type=photo`,
                    ContentType: 'application/json',
                    success: (response)=>{
                    console.log("success.");
                    console.log(response['hits'][0]["webformatURL"]);
                    $('#reviewImage_'+pack_id).attr('src', response['hits'][0]["webformatURL"]);
                    },
                    error: (response)=>{console.log("error.")}
                });
                setTimeout(()=>{
                    $('#reviewSource_'+pack_id).text(response['source_text']);
                    $('#reviewTarget_'+pack_id).text(response['target_text']);
                    $(event.target).attr('data-card-id', response['card_id']);
                }, 500)
                },
            error: (response)=>{console.log("error.")}
        })
        }
    })

    
    
})
</script>
</body>

</html>