<!DOCTYPE html>
<head>
    {% load static %}
    <title> Pricing Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="{% static 'pricing-table.css' %}">
</head>
<body>
    <div class="pricing-plan-container">
        <section class="pricing-plan">

            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title">Free Plan</h1>
                <h2 class="pricing-plan__summary">For those getting started</h2>
            </div>
            <div class="pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">
                        Basic textual flash cards
                    </li>
                    
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">Free</p>
                <a href="./" class="pricing-plan__button">Current plan</a>
            </div>
        </section>
    
        <section class="pricing-plan">
            <div class="pricing-plan__special-text">
                Recommended
            </div>
    
            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title">Premium Plan</h1>
                <h2 class="pricing-plan__summary">Take your learning to the next level</h2>
            </div>
            <div class="pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">
                        Textual flashcards
                    </li>
                    <li class="pricing-plan__feature">
                        Media content for flashcards
                    </li>
                    <li class="pricing-plan__feature">
                        Premium flash card packs catalog
                    </li>
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">$10</p>
                <p class="pricing-plan__text">per month</p>
                <a href="./" class="pricing-plan__button">Purchase</a>
                <p class="pricing-plan__text">Minimum spend $1200 over 12 months</p>
            </div>
        </section>
    
        <section class="pricing-plan">
            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title">Contribute</h1>
                <h2 class="pricing-plan__summary">Earn an income by making flashcards</h2>
            </div>
            <div class="pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">
                        Make flashcards
                    </li>
                    <li class="pricing-plan__feature">
                        Our team would review your flashcards
                    </li>
                    <li class="pricing-plan__feature">
                        Earn from the subscription of people viewing your cards
                    </li>
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">Earn 100$</p>
                <p class="pricing-plan__text">in your first month</p>
                <a href="./" class="pricing-plan__button">Select</a>
                <p class="pricing-plan__text">Yearly passive income of at least 1200$</p>
            </div>
        </section>

    </div>
    
</body>